Repository FinalProject-AIPARK/JenaPark-FE, pull requests merged in 2022-09, with the labels that each got.

#9 #4 User Navigation Bar
  public/historyProject-icon.png
  public/historyVideo-icon.png
  public/myInfo-icon.png
  src/App.tsx
  src/components/createAvatar/index.tsx
  src/components/createAvatar/navbar/index.tsx
  src/components/createAvatar/navbar/userNavbar/index.tsx
  src/components/layout/Header/index.tsx
  src/styles/UserNavbarLayout.tsx
Labels: doing

#15 #4 User Navigation Bar
  public/historyProject-icon.png
  public/historyVideo-icon.png
  public/myInfo-icon.png
  src/App.tsx
  src/components/createAvatar/index.tsx
  src/components/createAvatar/navbar/index.tsx
  src/components/createAvatar/navbar/userNavbar/index.tsx
  src/components/layout/Header/index.tsx
  src/styles/UserNavbarLayout.tsx
Labels: doing

#17 Header #2
  package.json
  public/images/Logo.png
  public/images/arrow-ios-left.png
  public/images/edit-pencil.png
  public/images/music.png
  public/images/play-circle.png
  public/images/save.png
  public/images/stop-circle.png
  public/images/video.png
  src/components/layout/Header/ProjectHeader/ProjectVideoHeader/index.tsx
  src/components/layout/Header/ProjectHeader/ProjectVoiceHeader/index.tsx
  src/components/layout/Header/ProjectHeader/index.tsx
  src/components/layout/Header/RendingHeader/index.tsx
  src/components/layout/Header/SoundPlayer/index.tsx
  src/components/layout/Header/index.tsx
  src/pages/SignIn/index.tsx
  src/styles/HeaderStyle.ts
  src/styles/ProjectVideoHeader.tsx
  src/styles/ProjectVoiceHeader.tsx
  src/styles/RendingHeader.tsx
  src/styles/SoundPlayer.tsx
  yarn.lock
Labels: feature, component, research, style

#20 Sign In
  package-lock.json
  package.json
  src/api/useApi.ts
  src/components/logIn/LogIn.tsx
  src/components/signIn/SignInForm.tsx
  src/components/signUp/SignUpForm.tsx
  src/pages/SignIn/index.tsx
  src/store/SignIn/signInSlice.ts
  src/store/store.ts
  src/styles/user/User.components.ts
  yarn.lock
Labels: bug, feature, component, doing

#18 User navigation bar #4
  public/avatarPeople-icon.png
  public/checkmark-icon.png
  public/myInfo-icon.png
  public/projectCorLogo-icon.png
  public/text-icon.png
  public/voiceMic-icon.png
  src/components/createAvatar/navbar/index.tsx
  src/styles/UserNavbarLayout.tsx
Labels: feature, component, style, doing

#19 Voice model #5
  .prettierrc.json
  public/arrowDown-icon.png
  public/avatarPeople-icon.png
  public/search-icon.png
  public/voiceMic-icon.png
  public/voiceModelPause-icon.png
  public/voiceModelPlay-icon.png
  public/voiceModelStop-icon.png
  src/api/useApi.ts
  src/components/createAvatar/index.tsx
  src/components/createAvatar/navbar/index.tsx
  src/components/createAvatar/navbar/projectSetting/index.tsx
  src/components/createAvatar/navbar/userNavbar/index.tsx
  src/components/createAvatar/voice/chooseVoice/index.tsx
  src/components/createAvatar/voice/index.tsx
  src/components/createAvatar/voice/voiceModel/index.tsx
  src/components/createAvatar/voice/voiceOption/index.tsx
  src/styles/SearchVoiceModelLayout.tsx
  src/styles/UserNavbarLayout.tsx
  src/styles/VoiceModelFilterButton.tsx
  src/styles/VoiceModelListLayout.tsx
  src/styles/VoiceWorkingButtonLayout.tsx
  src/styles/WorkingNavbarLayout.tsx
  yarn.lock
Labels: feature, component, style, doing

#10 Working navigation bar #8
  src/styles/UserNavbarLayout.tsx
  src/styles/WorkingNavbarLayout.tsx
Labels: feature, component, style, doing

#22 Avatar choose #12
  .prettierrc.json
  public/icon/maskLeft-icon.png
  public/icon/maskRight-icon.png
  src/App.tsx
  src/components/createAvatar/avatar/chooseAvatar/index.tsx
  src/components/createAvatar/avatar/index.tsx
  src/components/createAvatar/index.tsx
  src/styles/AvatarChooseStyle.tsx
  src/styles/AvatarComponent.tsx
  src/styles/AvatarOptionStyle.tsx
Labels: component, style

#21 Avatar option #11
  public/icon/plus-icon.png
  src/App.tsx
  src/components/createAvatar/avatar/avatarOption/index.tsx
  src/components/createAvatar/avatar/chooseAvatar/index.tsx
  src/components/createAvatar/index.tsx
  src/styles/AvatarChooseStyle.tsx
  src/styles/AvatarOptionStyle.tsx
Labels: component, style

#27 Styled component structure change #26
  src/layout/HeaderStyle.ts
  src/layout/ProjectVideoHeader.tsx
  src/layout/ProjectVoiceHeader.tsx
  src/layout/RendingHeader.tsx
  src/layout/SoundPlayer.tsx
Labels: style

#28 Refactoring Sing In & Sign Up
  package-lock.json
  public/images/login-man.svg
  public/images/register-girl.svg
  src/App.tsx
  src/api/useApi.ts
  src/components/signIn/SignInForm.tsx
  src/components/signIn/style.ts
  src/components/signUp/SignUpForm.tsx
  src/components/signUp/style.ts
  src/layout/SignUpFormInput.tsx
  src/pages/SignUp.tsx
  src/store/SignIn/signInSlice.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: refactoring
